/* 
 * Zoomsaic JS - v1.0
 * Author: Jonathan Argentiero
 * Github project: https://github.com/jonathanargentiero/ZoomsaicJS
 * use the plugin as you please :)
 */
.zoomsaic {
  position: relative;
  padding-bottom: 30px;
}
.zoomsaic .zoomsaic-container {
  position: absolute;
  top: 0;
  left: 0;
}
.zoomsaic .zoomsaic-container .zoomsaic-pager {
    overflow: hidden;
    float: left;
}
.zoomsaic .zoomsaic-container .zoomsaic-pager.active {
    display: block;
}
.zoomsaic .zoomsaic-navigator {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  left: 0;
  text-align: center;
}
.zoomsaic .zoomsaic-navigator .zoomsaic-page {
  cursor: pointer;
  background: gray;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}
.zoomsaic .zoomsaic-navigator .zoomsaic-page:hover,
.zoomsaic .zoomsaic-navigator .zoomsaic-page.active {
  background: #333;
}
.zoomsaic .zoomsaic-element {
  background: white;
  border: 1px solid #eeeeee;
}
.zoomsaic .zoomsaic-element:hover {
  border: 1px solid #8c8c8c;
  -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.25);
  -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.25);
}
.zoomsaic .zoomsaic-element .zoomsaic-before {
  width: 100%;
  height: 100%;
}
.zoomsaic .zoomsaic-element .zoomsaic-before figure {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.zoomsaic .zoomsaic-after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
